/* User Login */

#logo {
  width: 8em;
  font-size: 1.2em;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

h2 {
  font-weight: 500;
  text-align: center;
  font-size: 2.4em;
}

/* dashboard */

#container {
  display: grid;
  grid-template-columns: 50% auto;
  font-size: 1.1em;
  margin-bottom: 2em;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  background-color: #e1e0ff;
  border: 5px;
  padding: 3em 0;
  align-items: center;
}

.dashboard__container a {
  width: 15em;
  text-decoration: none;
  text-align: center;
  background-color: #286687;
  border: none;
  border-radius: 5px;
  padding: .5em;
  margin-bottom: .5em;
  color: white;
}

.dashboard__container a:hover {
  background-color: #1d5370;

}

.userInfo {
  /* border: 1px solid red; */
  margin: 2.5em 0 5em 10em;
}



/* Update opertor */
select {
  width: 49%;
  padding: 1em;
  margin-top: 1em;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
      -moz-appearance: none;
          appearance: none;
  background: none;
}

.issue__list {
  margin: 3em 5em;
}